[submodule "custom_navigator"]
	path = custom_navigator
	url = https://github.com/DJDoubleD/custom_navigator.git
[submodule "equalizer_flutter"]
	path = equalizer_flutter
	url = https://github.com/DJDoubleD/equalizer_flutter.git
[submodule "external_path"]
	path = external_path
	url = https://github.com/DJDoubleD/external_path.git
[submodule "marquee"]
	path = marquee
	url = https://github.com/DJDoubleD/marquee.git
[submodule "move_to_background"]
	path = move_to_background
	url = https://github.com/DJDoubleD/move_to_background.git
[submodule "scrobblenaut"]
	path = scrobblenaut
	url = https://github.com/DJDoubleD/Scrobblenaut.git
